<p id="notice"><%= notice %></p>

<p>
  <strong>Discussion:</strong>
  <%= @message.discussion %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @message.selected %>
</p>

<p>
  <strong>Pinned:</strong>
  <%= @message.pinned %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
