<div class="container-fluid login">

  <%= form_for(resource, as: resource_name, class: "form row", url: registration_path(resource_name)) do |f| %>

    <div class="tophalf">
      <div class="topposition">
        <h1 class="">Sign Up</h1>     

        <div class="emailgroup  group">
          <%= f.email_field :email, class: "input email" %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :email, class: "loglabel logemail" %><br />
        </div>

        <div class="passgroup  group">
          <%= f.password_field :password, autocomplete: "off", class: "input" %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :password, class: "loglabel" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </div>

        <div class="passgroupc  group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :password_confirmation, class: "loglabel" %><br />
        </div>
      </div>
    </div>

    <div class="bottomhalf">
      <div class="bottomposition">
        <div class="form-group">
          <%= f.submit "Register",  class: "loginbutton " %>
        </div>
        <div class="actions">
          <center>
            <%= render "devise/shared/links" %>
          </center>
        </div>
      </div>
    </div>
  <% end %>
</div>

