<%= form_for(space_type) do |f| %>
  <% if space_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space_type.errors.count, "error") %> prohibited this space_type from being saved:</h2>

      <ul>
      <% space_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :icon %>
    <%= f.text_field :icon %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
